<div class="container">
  <div class="item-top-div mt-3">
    <a href="javascript:window.history.back()"><i class="fa-solid fa-arrow-left"></i></a>
  </div>
  <%= image_tag("ootd_logo.png", style: "width: 7em; height: 5em; display: block; margin: 0 auto; margin-top: 4em; margin-bottom: 3em") %>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name,
                required: true,
                autofocus: true,
                label: false,
                placeholder: "First name",
                input_html: {
                  class: "text-center input-background",
                }%>
    <%= f.input :last_name,
                required: true,
                label: false,
                placeholder: "Last name",
                input_html: {
                  class: "text-center input-background"
                }%>
    <%= f.input :email,
                required: true,
                label: false,
                placeholder: "Email",
                input_html: {
                  autocomplete: "email",
                  class: "text-center input-background"
                   }%>
    <%= f.input :password,
                required: true,
                label: false,
                placeholder: "Password",
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: {
                  autocomplete: "new-password",
                  class: "text-center input-background"
                   } %>
    <%= f.input :password_confirmation,
                required: true,
                label: false,
                placeholder: "Confirm password",
                input_html: {
                  autocomplete: "new-password",
                  class: "text-center input-background"
                  } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", class:"btn btn-primary" %>
  </div>
</div>
<% end %>


<div class="text-center" style="padding-top: 5em;">
  <%= render "devise/shared/links" %>
</div>
