<div class="container" id="dress-me-container" data-controller="weather">
  <%# <%= image_tag "ootd_logo.png", height: 70, alt: "ootd_logo" %>
    <div id="dress-me-space-between">
    </div>

    <div class="weather-temp-div">
      <img src="" alt="weather icon" id="weather-icon">
      <h4 data-weather-target="temp"></h4>
    </div>
      <h6 data-weather-target="city"></h6>

    <div id="dress-me-small-space">
    </div>

    <h1 class="mt-4">Welcome, <%= @user.first_name %>!</h1>
    <h2>What look are you going for today?</h2>
    
    <div id="dress-me-small-space">
    </div>


  <div class="occasion-selector mt-5">
    <%= form_with url: "/outfits/new", method: :get do |form| %>
      <%= form.select :occasion, @occasions_name, {}, { class: "form-dropdown" } %>
      <%= form.submit "LET'S GO!", class: "btn btn-primary" %>
      <%= form.hidden_field :temperature, class: "weather-temp" %>
      <%= form.hidden_field :description, class: "weather-descr" %>
    <% end %>
  </div>
</div>