<div class="item-top-div">
  <a href="javascript:window.history.back()"><i class="fa-solid fa-arrow-left"></i></a>
</div>
<div class="container mt-2" style="text-align: center;">
  <h1>Here are all your outfits</h1>
</div>
<% if @outfits == [] %>
      <div class="d-flex", style="justify-content:center;">
        <div class= "no-items-message">
          <h2>You don't have any outfits yet</h2>
          <br>
          <i class="fa-solid fa-heart-crack"></i>
        </div>
      </div>
    <% else %>
<div class="grid">
  <% @outfits.each do |outfit| %>
    <!-- Button trigger modal -->
    <%= link_to "#", data: { bs_toggle: "modal", bs_target: "#exampleModal#{outfit.id}"} do  %>
      <div class="outfit">
        <% outfit.items.shuffle.each_with_index do |item, index| %>
          <div class="stacking image-card-new-outfit <%= index.even? ? "tilted-left" : "tilted-right" %>">
            <%= cl_image_tag item.photo.key %>
            <h6><%= item.name %></h6>
          </div>
        <% end %>
      </div>
    <% end %>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal<%= outfit.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog w-100">
        <div class="modal-content modal-height">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Your outfit</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body outfit2">
            <% outfit.items.shuffle.each_with_index do |item, index| %>
              <div class="image-card-new-outfit <%= index.even? ? "tilted-left" : "tilted-right" %>">
                <%= cl_image_tag item.photo.key %>
                <h6><%= item.name %></h6>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% end %>
</div>
