<div class="container" id="new-outfit-container">
  <%= link_to '<i class="fa-solid fa-arrow-left"></i>'.html_safe, dress_me_path %>

  <h1>Here is your outfit!</h1>
  <%= cl_image_tag @top.photo.key, height: 130, width: 130, crop: :fill %>
  <p><%= @top.name %></p>
  <%= cl_image_tag @bottom.photo.key, height: 130, width: 130, crop: :fill %>
  <p><%= @bottom.name %></p>
  <%= cl_image_tag @shoe.photo.key, height: 130, width: 130, crop: :fill %>
  <p><%= @shoe.name %></p>


  <%= link_to "DRESS ME", affirmations_display_path, class:"btn btn-flat" %>
  <%= link_to "REDO", new_outfit_path, class:"btn btn-flat" %>

</div>
