<div class="container">
  <%= image_tag("ootd_logo.png", style: "width: 7em; height: 5em; display: block; margin: 0 auto; margin-top: 14em; margin-bottom: 2em") %>
<div style="text-align: center; margin-bottom: 2em">
  <h2>Forgot password?</h2>
  </div>
</div>

<div class="container">
<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                label: false,
                placeholder: "Email",
                input_html: { 
                  autocomplete: "email", 
                  class: "text-center input-background"
                } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Reset password", class:"btn btn-flat"%>
  </div>
<% end %>


  <%# <div class="text-center" style="padding-top: 10em;">
    <%= render "devise/shared/links" %>
  <%# </div> %>
<%# </div> %>