<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <ul class="navbar-nav me-auto inline-icons">
      <% if user_signed_in? %>
        <%# home %>
        <li class="nav-item active">
          <%= link_to '<i class="fa-solid fa-house"></i>'.html_safe, dress_me_path, class: "nav-link" %>
        </li>
        <%# clothes %>
        <li class="nav-item">
          <%= link_to '<i class="fa-solid fa-shirt"></i>'.html_safe, items_path, class: "nav-link" %>
        </li>
        <%# add %>
        <li class="nav-item pe-2">
          <%= link_to '<i class="fa-solid fa-square-plus"></i>'.html_safe, new_item_path, class: "nav-link" %>
        </li>
        <%# liked %>
        <li class="nav-item pe-2">
          <%= link_to '<i class="fa-solid fa-heart"></i>'.html_safe, dress_me_path, class: "nav-link" %>
        </li>
        <%# profile %>
        <li class="nav-item pe-2">
          <%= link_to '<i class="fa-solid fa-user"></i>'.html_safe, root_path, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item"-->
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
