<div class="container mt-4">
  <div class="item-top-div">
    <a href="javascript:window.history.back()"><i class="fa-solid fa-arrow-left"></i></a>
    <div class="destroy-div">
      <%= link_to item_path(@item),
            data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
        <%= image_tag "bin.png", alt: "delete", class: "type-item-icon" %>
      <% end %>
    </div>
  </div>
  <div class="container" style="display: flex; justify-content: center; align-items: center; height: 80vh;">
    <div style="width: 100%">
      <h1 class="container text-center">Edit Item</h1>
      <%= cl_image_tag @item.photo.key, alt: @item.name, class: "item-edit-img mt-3 mb-3" %>
      <%= simple_form_for(@item, html: { class: "container" }) do |f| %>
        <div class="form-inputs">
          <%= f.input :name, autofocus: true, label: false, input_html: {class: "text-center input-background", placeholder: "Name"} %>

          <%= f.input :type, collection: Item::TYPE_OPTIONS, autofocus: true, label: false, input_html: {class: "text-center input-background", placeholder: "Type", data: {controller: "tom-select"}}%>

          <%= f.input :items_occasions, collection: @occasions, autofocus: true, label: false, input_html: {class: "text-center input-background", placeholder: "Occasion", multiple: true, data: {controller: "tom-select", tom_select_options_value: {items: @item.occasions.pluck(:id)}}} %>

          <%= f.input :photo, input_html: {class: 'd-none', id: 'photo-input'}, label_html: {class: 'upload-photo'}, label: '📷 Upload a photo' %>
        </div>
      <div class="form-actions" style="text-align: center;">
        <%= f.button :submit, value: 'UPDATE', class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
