<div data-controller="index-filter", class="container">
  <div class="filter-index mt-3">
    <%= form_with url: "/items", method: :get, html: { data: {index_filter_target: "form"}, class: "form-filter-div row" } do |form| %>
      <div class="form-select-div">
      <%= form.select :occasion, @occasions_name, { prompt: 'ALL OCCASIONS' },
                      {
                        class: "form-dropdown-half-screen mb-1 col-6",
                        data: {
                          action: "change->index-filter#update",
                          index_filter_target: "occasion"
                        }
                      } %>
      </div>
      <div class="form-select-div">
      <%= form.select :item, Item::TYPE_OPTIONS, {prompt: 'ALL TYPES'},
                      {
                        class: "form-dropdown-half-screen mb-1 col-6",
                        data: {
                          action: "change->index-filter#update",
                          index_filter_target: "type"
                        }
                      } %>
      </div>
      <div class="form-select-div">
      <%= form.select :item, ItemsWeather::NAMES, {prompt: 'ALL WEATHERS'},
                {
                  class: "form-dropdown-half-screen mb-1 col-6",
                  data: {
                    action: "change->index-filter#update",
                    index_filter_target: "weather"
                  }
                } %>
      </div>
    <% end %>
  </div>
  <%= render "index_grid", items: @items %>
  <div class="navbar-space">
  </div>
</div>
