<div class="container" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <div style="width: 100%">
    <h1 class="container text-center mb-5">Add new item</h1>
    <%= simple_form_for(@item, html: { class: "container" }) do |f| %>
      <div class="form-inputs">
        <%= f.input :name, autofocus: true, label: false, input_html: {class: "text-center input-background", placeholder: "Name"} %>

        <%= f.input :type, collection: Item::TYPE_OPTIONS, autofocus: true, label: false, input_html: {class: "text-center input-background", placeholder: "Type", data: {controller: "tom-select"}}%>

        <%= f.input :items_occasions, collection: @occasions, autofocus: true, label: false, input_html: {class: "text-center input-background", multiple: true, placeholder: "Occasion", data: {controller: "tom-select"}} %>

        <%= f.input :photo, input_html: { class: 'd-none', id: 'photo-input'}, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo' %>

        <%= image_tag "", width: 300, class: "d-none", id: "photo-preview" %>
      </div>
      <div class="form-actions" style="text-align: center;">
        <%= f.button :submit, value: 'ADD', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
