<div class="item-top-div">
  <a href="javascript:window.history.back()"><i class="fa-solid fa-arrow-left"></i></a>
  <div class="edit-destroy-div">
    <%= link_to edit_item_path(@item) do %>
      <%= image_tag "pen.png", alt: "edit", class: "type-item-icon" %>
    <% end %>
    <%= link_to item_path(@item),
          data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
      <%= image_tag "bin.png", alt: "delete", class: "type-item-icon" %>
    <% end %>
  </div>
</div>
<div class="container mt-4">
  <div class="item-show-div mt-5">
    <h1><%= @item.name %></h1>
    <%= cl_image_tag @item.photo.key, alt: @item.name, class: "item-show-img mt-3" %>
    <div class="item-show-info mt-3">
      <div class="show-list-div">
        <div class="item-show-attributes">
          <h6 class="underlined-link">Occasions</h6>
          <% @occasions_name.each do |occasion| %>
            <h6><%= occasion %></h6>
          <% end %>
          <% if @occasions_name == [] %>
            <h6>NO OCCASIONS</h6>
          <% end %>
        </div>
        <div class="item-show-attributes">
          <h6 class="underlined-link">Weathers</h6>
          <% @weather_items.each do |weather| %>
            <h6><%= weather.name %></h6>
          <% end %>
          <% if @weather_items == [] %>
            <h6>NO WEATHERS</h6>
          <% end %>
        </div>
      </div>
      <% if @item.type == "TOP" %>
        <%= image_tag "tshirt.png", alt: "t-shirt", class: "type-item-icon-show" %>
      <% elsif @item.type == "BOTTOM" %>
        <%= image_tag "trousers.png", alt: "trousers", class: "type-item-icon-show" %>
      <% else %>
        <%= image_tag "sneakers.png", alt: "sneakers", class: "type-item-icon-show" %>
      <% end %>
    </div>
  </div>
</div>
